<script src="https://kit.fontawesome.com/fe9f1febdf.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<button id="btn-menu" routerLink="">Menu</button>
    <div class="login-container">
        <div class="login">
            <p id="title">Inicio de sesión</p>
            <input #name id="name" placeholder="Mail">
            <input #password id="password" placeholder="Contraseña" type="password">
            <button (click)="login()" id="btn">Iniciar Sesión</button>
            <a style="margin: 2vh;"id="link" routerLink="/register">¿No tenés cuenta?</a>
        </div>
    </div>