<nav style="display: flex; background-color: black; width: 100%; justify-content: center; margin-bottom: 3vh;">
    <p id="logout" class="elNav btn-menu" routerLink="/login">Cerrar sesión</p>
    <p id="verdatos" class="elNav btn-menu" routerLink="/Datos">Ver datos</p>
    <p id="cargardatos" class="elNav btn-menu" routerLink="/carga">Cargar datos</p>
</nav>
<div style="margin-left: auto; margin-right: auto; width: 29vw;"> 
    <table class="centrado">
        <thead>
            <tr>
                <th>Palabra</th>
                <th>Número</th>
            </tr>
        </thead>
        <tbody>
            <!-- *ngFor="let item of lista; let i = index" [attr.data-index]="i" -->
            <tr>
                <td class="centrao">palabra1</td>
                <td class="centrao">1</td>
            </tr>
            <tr>
                <td class="centrao">palabra2</td>
                <td class="centrao">2</td>
            </tr>
            <tr>
                <td class="centrao">palabra3</td>
                <td class="centrao">3</td>
            </tr>
        </tbody>
    </table>
</div>