.elNav{
    color: white;
    padding: 1vh 3vh 1vh 3vh;
    margin-left: 15vh;
    margin-right: 15vh;
}
.btn-menu{
    transition: ease-in-out .3s;
    background-color: black;
}
.btn-menu:hover{
    color: black;
    background-color: white;
    transition: ease-in-out .3s;
    cursor: pointer;
}

#btn{
    font-size: 1.3vw;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;
}
#btn:hover{
    color: white;
    background-color: black;
    transition: ease-in-out .3s;
    cursor: pointer;
}
table, th, td {
    border: 1px solid;
  }

.centrado{
    margin-left: auto;
    margin-right: auto;
}

.centrao{
    padding-left: 4vw;
    padding-right: 4vw;
}